html {
  overflow-y: scroll;
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

svg:not(:root) {
  overflow: hidden; }

@media screen and (min-width: 960px) {
  .phone-hide {
    visibility: visible; }

  .tablet-hide {
    visibility: visible; }

  .phone-show {
    display: none !important;
    visibility: hidden; }

  .tablet-show {
    display: none !important;
    visibility: hidden; }

  .tablet-only {
    display: none !important;
    visibility: hidden; } }
@media screen and (max-width: 959px) and (min-width: 480px) {
  .phone-hide {
    visibility: visible; }

  .tablet-hide {
    display: none !important;
    visibility: hidden; }

  .phone-show {
    display: none !important;
    visibility: hidden; }

  .tablet-show {
    visibility: visible; }

  .tablet-only {
    visibility: visible; } }
@media screen and (max-width: 479px) {
  .phone-hide {
    display: none !important;
    visibility: hidden; }

  .tablet-hide {
    display: none !important;
    visibility: hidden; }

  .phone-show {
    visibility: visible; }

  .tablet-show {
    visibility: visible; }

  .tablet-only {
    display: none !important;
    visibility: hidden; } }
html {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizeLegibility; }

html em {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
  text-rendering: optimizeLegibility; }

html strong, html em strong em, html em strong strong {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-rendering: optimizeLegibility; }

html em strong, html strong em {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
  text-rendering: optimizeLegibility; }

h1, h2, h3, h4, h5 {
  font-family: "Vollkorn", serif;
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizeLegibility; }

h1 em, h2 em, h3 em, h4 em, h5 em {
  font-family: "Vollkorn", serif;
  font-weight: 400;
  font-style: italic;
  text-rendering: optimizeLegibility; }

h1 strong, h2 strong, h3 strong, h4 strong, h5 strong, h1 em strong em, h2 em strong em, h3 em strong em, h4 em strong em, h5 em strong em, h1 em strong strong, h2 em strong strong, h3 em strong strong, h4 em strong strong, h5 em strong strong {
  font-family: "Vollkorn", serif;
  font-weight: 700;
  font-style: normal;
  text-rendering: optimizeLegibility; }

h1 em strong, h2 em strong, h3 em strong, h4 em strong, h5 em strong, h1 strong em, h2 strong em, h3 strong em, h4 strong em, h5 strong em {
  font-family: "Vollkorn", serif;
  font-weight: 700;
  font-style: italic;
  text-rendering: optimizeLegibility; }

html {
  font-size: 16px;
  line-height: 1.5rem; }

body {
  color: #2c3136; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

h1 {
  font-size: 2.50rem;
  margin: 1.5rem 0;
  line-height: 3rem;
  color: #4c5156; }

h2 {
  font-size: 2.25rem;
  margin: 1.5rem 0;
  line-height: 3rem;
  color: #4c5156; }

h3 {
  font-size: 2.00rem;
  margin: 1.5rem 0;
  line-height: 3rem;
  color: #4c5156; }

h4 {
  font-size: 1.75rem;
  color: #4c5156; }

h5 {
  font-size: 1.50rem;
  color: #4c5156; }

small {
  font-size: 0.75rem; }

.large {
  font-size: 1.414rem;
  line-height: 2.25rem; }

.center-text {
  text-align: center; }

a {
  color: #79bd8f;
  text-decoration: none;
  padding-bottom: .25em;
  border-bottom: 2px solid transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 100ms linear;
  -moz-transition: all 100ms linear;
  -o-transition: all 100ms linear;
  transition: all 100ms linear; }
  a:focus, a:hover {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-bottom: 2px solid #79bd8f;
    outline: none; }

hr {
  border: none;
  border-top: 2px solid #dde3e8; }

p {
  margin: 1.5rem 0; }

table {
  width: 100%;
  background-color: white;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #e4e9ed;
  text-align: left;
  margin: 1.5rem 0;
  font-size: .875rem; }
  table > thead {
    background-color: #f3f5f8;
    border-bottom: 1px solid #e4e9ed; }
  table thead th, table thead td {
    font-weight: 700; }
  table th, table td {
    border-left: 1px solid #e4e9ed;
    border-right: 1px solid #e4e9ed;
    padding: 12px; }
  table tr {
    border-bottom: 1px solid #e4e9ed;
    text-align: left; }
    table tr:last-child {
      border-bottom: none; }
    table tr:nth-child(even) {
      background-color: #fafbfe; }
      table tr:nth-child(even) td {
        background-color: #fafbfe; }

body {
  min-width: 768px; }

.page-content {
  margin: 0 .75em; }

.container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  z-index: 3;
  padding: 2em 0; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }
  .container.white {
    padding: 0;
    position: relative; }
  .container.single {
    padding: 1px 1em; }

.site-nav {
  display: inline-block;
  margin: 0 1em;
  font-size: 1rem;
  color: white;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.75);
  letter-spacing: 1px;
  font-weight: 700; }
  .site-nav:hover {
    border-color: white; }
  .site-nav:first-of-type {
    margin-left: 0; }
  .site-nav:last-of-type {
    margin-right: 0; }

.copyright {
  display: inline-block;
  font-size: 1rem;
  color: white;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
  margin: 0; }
  .copyright a {
    color: white; }
    .copyright a:hover {
      border-color: white; }
    .copyright a:first-of-type {
      margin-left: 0; }
    .copyright a:last-of-type {
      margin-right: 0; }

.background-map {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2; }
  .background-map .leaflet-map-pane {
    opacity: .35; }
  .background-map.leaflet-container {
    background-color: rgba(157, 120, 210, 0.85);
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 300s;
    -webkit-animation-name: colorshift;
    -moz-animation-iteration-count: infinite;
    -moz-animation-duration: 300s;
    -moz-animation-name: colorshift;
    animation-iteration-count: infinite;
    animation-duration: 300s;
    animation-name: colorshift; }

.not-ie .background-map img {
  -webkit-filter: grayscale(50%);
  -moz-filter: grayscale(50%);
  filter: grayscale(50%); }

@keyframes colorshift {
  0% {
    background-color: rgba(157, 120, 210, 0.85); }

  33% {
    background-color: rgba(36, 132, 210, 0.85); }

  66% {
    background-color: rgba(121, 189, 143, 0.85); } }
@-webkit-keyframes colorshift {
  0% {
    background-color: rgba(157, 120, 210, 0.85); }

  33% {
    background-color: rgba(36, 132, 210, 0.85); }

  66% {
    background-color: rgba(121, 189, 143, 0.85); } }
@-moz-keyframes colorshift {
  0% {
    background-color: rgba(157, 120, 210, 0.85); }

  33% {
    background-color: rgba(36, 132, 210, 0.85); }

  66% {
    background-color: rgba(121, 189, 143, 0.85); } }
.btn {
  display: inline-block;
  padding: 1em;
  background-color: #beeb9f;
  color: #4c5156;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  cursor: pointer; }
  .btn:hover, .btn:focus {
    background-color: #dbf4c9;
    color: #76899b;
    outline: none; }
  .btn.outline {
    background: transparent;
    color: #beeb9f;
    border: 1px solid #beeb9f; }
    .btn.outline:hover {
      background-color: #dbf4c9;
      color: white;
      border: 1px solid #dbf4c9; }
  .btn.dark-green {
    background: #79bd8f;
    color: #dde3e8; }
    .btn.dark-green:hover {
      background-color: #9bceac;
      color: #ecf0f3; }
  .btn.white {
    background: #fafbfe;
    color: #79bd8f; }
    .btn.white:hover {
      background-color: white;
      color: #beeb9f; }

.right {
  float: right; }

.left {
  float: left; }

.show {
  visibility: visible; }

.hide {
  display: none !important;
  visibility: hidden; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }
.clearfix:after {
  clear: both; }

.leader-5 {
  margin-top: 7.5rem; }

.leader-4 {
  margin-top: 6rem; }

.leader-3 {
  margin-top: 4.5rem; }

.leader-2 {
  margin-top: 3rem; }

.leader-1 {
  margin-top: 1.5rem; }

.leader-0 {
  margin-top: 0rem; }

.trailer-5 {
  margin-bottom: 7.5rem; }

.trailer-4 {
  margin-bottom: 6rem; }

.trailer-3 {
  margin-bottom: 4.5rem; }

.trailer-2 {
  margin-bottom: 3rem; }

.trailer-1 {
  margin-bottom: 1.5rem; }

.trailer-0 {
  margin-bottom: 0rem; }

.modal-overlay {
  display: none;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  overflow-y: scroll;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 50; }
  .modal-overlay.visible {
    display: block; }

.modal {
  position: relative;
  margin: 50px auto;
  z-index: 100;
  background: #fafbfe;
  padding: 2rem;
  width: 30rem;
  opacity: 1; }
  .modal.vertically-centered {
    margin: 0 0 0 -190px;
    position: absolute;
    top: 50%;
    left: 50%; }
  .modal.visible {
    display: block; }
  @media screen and (max-width: 480px) {
    .modal.vertically-centered {
      margin: 0 0 0 -140px;
      width: 280px; } }

.sidebar {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1.5rem 1rem;
  float: left;
  width: 24.75%;
  position: relative;
  background-color: white;
  z-index: 3; }
  .sidebar nav a {
    display: block;
    float: left;
    clear: both;
    padding: .15em 0;
    margin-bottom: .25em; }
    .sidebar nav a:before, .sidebar nav a:after {
      content: " ";
      display: table; }
    .sidebar nav a:after {
      clear: both; }
  .sidebar h5 {
    float: left;
    clear: both;
    margin: 1rem 0 0.5rem; }

/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */
.tomorrow-comment, pre .comment, pre .title {
  color: #8e908c; }

.tomorrow-red, pre .variable, pre .attribute, pre .tag, pre .regexp, pre .ruby .constant, pre .xml .tag .title, pre .xml .pi, pre .xml .doctype, pre .html .doctype, pre .css .id, pre .css .class, pre .css .pseudo {
  color: #c82829; }

.tomorrow-orange, pre .number, pre .preprocessor, pre .pragma, pre .built_in, pre .literal, pre .params, pre .constant {
  color: #f5871f; }

.tomorrow-yellow, pre .ruby .class .title, pre .css .rules .attribute {
  color: #eab700; }

.tomorrow-green, pre .string, pre .value, pre .inheritance, pre .header, pre .ruby .symbol, pre .xml .cdata {
  color: #718c00; }

.tomorrow-aqua, pre .css .hexcolor {
  color: #3e999f; }

.tomorrow-blue, pre .function, pre .python .decorator, pre .python .title, pre .ruby .function .title, pre .ruby .title .keyword, pre .perl .sub, pre .javascript .title, pre .coffeescript .title {
  color: #4271ae; }

.tomorrow-purple, pre .keyword, pre .javascript .function {
  color: #8959a8; }

pre code {
  display: block;
  background: white;
  color: #4d4d4c;
  padding: 0.5em; }

pre .coffeescript .javascript,
pre .javascript .xml,
pre .tex .formula,
pre .xml .javascript,
pre .xml .vbscript,
pre .xml .css,
pre .xml .cdata {
  opacity: 0.5; }

.homepage .modal {
  margin-top: 6rem;
  text-align: center; }
.homepage #homepage-map {
  min-height: 100vh; }
.homepage .page-title {
  font-size: 3.998rem;
  margin-top: 1.5rem;
  margin-bottom: 0.75rem;
  padding-bottom: 2.25rem;
  line-height: 3rem;
  border-bottom: 4px solid #4c5156; }
.homepage .page-description {
  margin-bottom: 2.25rem; }
.homepage .btn {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 32%; }

.main-content {
  width: 74.75%;
  background-color: white;
  float: right;
  padding: 0 1rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  background-color: white; }
  .main-content h3, .main-content h4 {
    margin-top: 1.5rem; }
  .main-content h5 {
    margin-top: 3rem; }

.no-sidebar .container.white {
  background: white;
  width: 100%; }
  .no-sidebar .container.white:before, .no-sidebar .container.white:after {
    display: none; }

.container.white:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  content: '';
  display: block;
  position: absolute;
  background: white;
  height: 100%;
  width: 24.75%;
  z-index: 2; }
.container.white:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  content: '';
  display: block;
  position: absolute;
  background: white;
  height: 100%;
  width: 74.75%;
  right: 0;
  z-index: -1;
  top: 0; }

.example-content {
  width: 74.75%;
  background-color: white;
  float: right;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .example-content pre {
    border: none;
    border-top: 1px solid #e4e9ed;
    border-bottom: 1px solid #e4e9ed;
    margin: 0; }
    .example-content pre code {
      padding: 0; }
  .example-content .wrap {
    margin: 1rem 0 0 0;
    padding: 0 1rem; }

.doc-section {
  margin-top: 5rem; }
  .doc-section h1 {
    padding-top: 3rem; }

pre {
  display: block;
  overflow: auto;
  border: 1px solid #e4e9ed;
  margin: 1rem 0;
  -moz-tab-size: 2;
  tab-size: 2; }
  pre code {
    margin: 1rem;
    background: transparent; }

td pre {
  font-size: .85rem;
  border: none; }
  td pre code {
    margin: 0; }

.param code, .param span {
  color: gray; }

.nobr {
  white-space: nowrap; }

#map-wrapper {
  position: relative; }

#map {
  border-top: 1px solid #e4e9ed;
  height: 500px;
  width: 100%;
  position: relative;
  left: 0;
  right: 0; }
  #map a {
    padding-bottom: 0; }

.main-content {
  width: 74.75%;
  background-color: white;
  float: right;
  padding: 0 1rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  background-color: white; }
  .main-content h3, .main-content h4 {
    margin-top: 1.5rem; }
  .main-content h5 {
    margin-top: 3rem; }

.no-sidebar .container.white {
  background: white;
  width: 100%; }
  .no-sidebar .container.white:before, .no-sidebar .container.white:after {
    display: none; }

.container.white:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  content: '';
  display: block;
  position: absolute;
  background: white;
  height: 100%;
  width: 24.75%;
  z-index: 2; }
.container.white:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  content: '';
  display: block;
  position: absolute;
  background: white;
  height: 100%;
  width: 74.75%;
  right: 0;
  z-index: -1;
  top: 0; }

.example-content {
  width: 74.75%;
  background-color: white;
  float: right;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .example-content pre {
    border: none;
    border-top: 1px solid #e4e9ed;
    border-bottom: 1px solid #e4e9ed;
    margin: 0; }
    .example-content pre code {
      padding: 0; }
  .example-content .wrap {
    margin: 1rem 0 0 0;
    padding: 0 1rem; }

.doc-section {
  margin-top: 5rem; }
  .doc-section h1 {
    padding-top: 3rem; }

pre {
  display: block;
  overflow: auto;
  border: 1px solid #e4e9ed;
  margin: 1rem 0;
  -moz-tab-size: 2;
  tab-size: 2; }
  pre code {
    margin: 1rem;
    background: transparent; }

td pre {
  font-size: .85rem;
  border: none; }
  td pre code {
    margin: 0; }

.param code, .param span {
  color: gray; }

.nobr {
  white-space: nowrap; }

#map-wrapper {
  position: relative; }

#map {
  border-top: 1px solid #e4e9ed;
  height: 500px;
  width: 100%;
  position: relative;
  left: 0;
  right: 0; }
  #map a {
    padding-bottom: 0; }
