---
title: Identifying Features
description: Identifying features on a Dynamic Map Layer on click by querying the service. Click a feature to identify it. More information about Map Services can be found in the <a href="../api-reference/layers/dynamic-map-layer.html">L.esri.DynamicMapLayer</a> documentation.
layout: example.hbs
---

<style>
  #selectedFeatures {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1000;
    background: white;
    padding: 1em;
  }
  .leaflet-bar.map-text a {
    color: #79BD8F;
    display: inline;
  }
</style>

<div id="map"></div>
<div id="selectedFeatures" class="leaflet-bar map-text">Click on a
  <a href="https://www.arcgis.com/home/item.html?id=3fcf06963b134254b73dccfbc1546eb9">NOAA weather advisory</a>
</div>
<script>
  var map = L.map('map').setView([38.5, -96.8], 4);

  L.esri.basemapLayer('Gray').addTo(map);

  var weatherWatch = L.esri.dynamicMapLayer({
    url: 'http://gis.srh.noaa.gov/arcgis/rest/services/watchWarn/MapServer',
    opacity: 0.5
  }).addTo(map);

  var identifiedFeature;
  var pane = document.getElementById('selectedFeatures');

  map.on('click', function (e) {
    pane.innerHTML = 'Loading';
    if(identifiedFeature){
      map.removeLayer(identifiedFeature);
    }
    weatherWatch.identify().on(map).at(e.latlng).run(function(error, featureCollection){
      if (featureCollection.features.length > 0) {
        identifiedFeature = L.geoJson(featureCollection.features[0], {
          style: function(){
            return {
              color: 'red',
              weight: 2
            };
          }
        }).addTo(map);
        pane.innerHTML = featureCollection.features[0].properties.prod_type;
      }
      else {
        pane.innerHTML = 'no features identified';
      }
    });
  });
</script>
