---
title: Identifying Features
description: Identifying features on a Dynamic Map Layer on click by querying the service. Click a feature to identify it. More information about Map Services can be found in the <a href="../api-reference/layers/dynamic-map-layer.html">L.esri.Layers.DynamicMapLayer</a> documentation.
layout: example.hbs
---

<style>
  #selectedFeatures {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
    background: white;
    padding: 1em;
  }
</style>

<div id="map"></div>
<div id="selectedFeatures" class="leaflet-bar">No Features Selected</div>
<script>
  var map = L.map('map').setView([34.025, -116.203], 9);

  L.esri.basemapLayer('Gray').addTo(map);

  var federalLands = L.esri.dynamicMapLayer({
    url: 'http://maps1.arcgisonline.com/ArcGIS/rest/services/USA_Federal_Lands/MapServer',
    opacity: 0.5,
    useCors: false
  }).addTo(map);

  var identifiedFeature;
  var pane = document.getElementById('selectedFeatures');

  map.on('click', function (e) {
    if(identifiedFeature){
      map.removeLayer(identifiedFeature);
      pane.innerHTML = 'Loading';
    }
    federalLands.identify().on(map).at(e.latlng).run(function(error, featureCollection){
      if (featureCollection.features.length > 0){
        identifiedFeature = L.geoJson(featureCollection.features[0], {
          style: function(){
            return {
              color: '#5C7DB8',
              weight: 2
            };
          }
        }).addTo(map);
        pane.innerHTML = featureCollection.features[0].properties.NAME1;
      }
    });
  });
</script>
