---
title: Infrared Imagery using BandIDs
description: Display NAIP imagery from an ArcGIS image service and use the band IDs parameter to show the near infrared band in a false color composite. Vegetated areas are highlighted in red. More information about Image Services can be found in the <a href="/esri-leaflet/api-reference/layers/image-map-layer.html">L.esri.Layers.ImageMapLayer</a> documentation.
layout: example.hbs
---

<div id="map"></div>

<script>
  var map = L.map('map').setView([43.415, -124.228], 13);

  L.esri.basemapLayer('Gray').addTo(map);

  L.esri.imageMapLayer({
    url: 'http://imagery.oregonexplorer.info/arcgis/rest/services/NAIP_2011/NAIP_2011_Dynamic/ImageServer'
  }).setBandIds('3,0,1').addTo(map);
</script>
