---
title: Query without a map
description: We create a map here to take advantage of Leaflet's built in HTML5 location method, it is not necessary to add a layer in order to execute a spatial query.  More information about Queries can be found in the <a href="../api-reference/tasks/query.html">L.esri.Query</a> documentation.
layout: example.hbs
---

<style>
  #message { margin: 10px }
</style>

<div id="map">
  <div id="message">computing...</div>
</div>
<div id="invisibleMap"></div>

<script>
  document.getElementById('map').style.height = '100px';
  
  // no need to display, but lets use a map to ask user for HTML5 location
  var map = L.map('invisibleMap');
  map.locate();
  
  map.on("locationfound", function(e) {
    // use location to find out which census block they're inside.
    L.esri.query({
	  url: "//sampleserver6.arcgisonline.com/arcgis/rest/services/Census/MapServer/1"
	}).intersects(e.latlng).run(function(error, censusBlocks){
	    // if we find a match dig into the feature attributes to retrive median age
	    if (censusBlocks.features.length > 0) {
	      document.getElementById('message').innerHTML = 
	        'the median age in the census block where you are currently located is <b>' + censusBlocks.features[0].properties.MED_AGE + 
	        '</b> years old';
	    }
	    // otherwise, fail gracefully
	    else {
	      document.getElementById('message').innerHTML = 
	        'either you arent in the United States or you prefer not to say.'; 
	    }
	  });
  });
</script>
