---
title: Inherit service symbology
description: This sample demonstrates how to recreate the symbology defined for feature services in the client automatically.  The demo relies on the <a href="http://github.com/Esri/esri-leaflet-renderers/">Esri Leaflet Renderers</a> plugin.
layout: example.hbs
---

<!-- Load Esri Leaflet Renderers -->
<script src="//cdn-geoweb.s3.amazonaws.com/esri-leaflet-renderers/0.0.1-beta.3/esri-leaflet-renderers.js"></script>

<div id="map"></div>

<script type='text/javascript'>
  var map = L.map('map').setView([45.548, -122.632], 12);
  L.esri.basemapLayer('DarkGray').addTo(map);

  //renderer type: unique value
  L.esri.featureLayer({
    url: '//services.arcgis.com/rOo16HdIMeOBI4Mb/arcgis/rest/services/Trimet%20Transit%20Stops%20In%20Portland%20Neighborhoods/FeatureServer/0'
  }).addTo(map);
</script>
