---
title: Simple ImageMapLayer
description: Display an Image Service from ArcGIS Online or ArcGIS Server.  More information about Map Services can be found in the <a href="/esri-leaflet/api-reference/layers/image-map-layer.html">L.esri.Layers.ImageMapLayer</a> documentation.
layout: example.hbs
---

<div id="map"></div>

<script>
    var map = L.map('map').setView([37.75, -122.23], 10);

    L.esri.basemapLayer('Gray').addTo(map);

    L.esri.imageMapLayer('http://raster.nationalmap.gov/arcgis/rest/services/Scanned_Maps/USGS_EROS_DRG_SCALE/ImageServer').addTo(map);
</script>