---
title: Simple DynamicMapLayer
description: Display a Map Service from ArcGIS Online or ArcGIS Server.  More information about Map Services can be found in the <a href="../api-reference/layers/dynamic-map-layer.html">L.esri.DynamicMapLayer</a> documentation.
layout: example.hbs
---

<div id="map"></div>

<script>
  var map = L.map('map').setView([41.94, -88.29], 9);

  L.esri.basemapLayer('Gray').addTo(map);

  L.esri.dynamicMapLayer({
    url: 'https://hydrology.esri.com/arcgis/rest/services/WorldHydroReferenceOverlay/MapServer',
    opacity: 1
  }).addTo(map);
</script>
