---
title: Styling polygons
description: Custom styling of polygons with the <code>style</code> option. More information about Feature Layers can be found in the <a href="../api-reference/layers/feature-layer.html">L.esri.Layers.FeatureLayer</a> documentation.
layout: example.hbs
---


<div id="map"></div>

<script>
  var map = L.map('map').setView([ 33.836, -118.22], 8);

  L.esri.basemapLayer('Gray').addTo(map);
  L.esri.basemapLayer('GrayLabels').addTo(map);

  L.esri.featureLayer({
    url: 'http://services.arcgis.com/P3ePLMYs2RVChkJx/arcgis/rest/services/USA_Congressional_Districts/FeatureServer/0',
    simplifyFactor: 0.5,
    precision: 5,
    style: function (feature) {
      if(feature.properties.PARTY === 'Democrat'){
        return {color: 'blue', weight: 2 };
      } else if(feature.properties.PARTY === 'Republican'){
        return { color: 'red', weight: 2 };
      } else {
        return { color: 'white', weight: 2 };
      }
    }
  }).addTo(map);
</script>
