[submodule "vendor/leaflet"]
	path = vendor/leaflet
	url = https://github.com/Leaflet/Leaflet.git
[submodule "vendor/terraformer"]
	path = vendor/terraformer
	url = https://github.com/Esri/Terraformer.git
