{
  "scanSettings": {
    "configMode": "EXTERNAL",
    "configExternalURL": "https://saas.whitesourcesoftware.com/whitesource-settings/wss-unified-agent.config",
    "projectToken": "",
	"python.path=python3",
    "baseBranches": [],
    "r.cranMirrorUrl= https://cloud.r-project.org/"
  },
  "checkRunSettings": {
    "displayMode": "diff",
    "vulnerableCheckRunConclusionLevel": "failure"
  },
  "issueSettings": {
    "minSeverityLevel": "LOW"
  }
}