.main-content {
  width: 80%;
  float: right;
  margin: 1rem 0 0 0;
  padding: 0 1rem;
  @include box-sizing(border-box);
}

.page-content {
  @include clearfix();
}

.doc-section {
  margin-top: 5rem;
  h1 {
    padding-top: 3rem;
  }
}

pre {
  display: block;
  overflow: auto;
  border: 1px solid mix($lighter-gray, $light-gray);
  code {
    margin: 1rem;
    background: transparent;
  }
}

td pre {
  font-size: .85rem;
  border: none;
  code {
    margin: 0;
  }
}