.homepage {

  .modal {
    margin-top: 6rem;
    text-align: center;
  }

  #homepage-map {
    min-height: 100vh;
  }

  .page-title {
    font-size: $p63;
    margin-top: 1*$baseline;
    margin-bottom: 0.5*$baseline;
    padding-bottom: 1.5*$baseline;
    line-height: 2*$baseline;
    border-bottom: 4px solid $dark-gray;
  }

  .page-description {
    margin-bottom: 1.5*$baseline;
  }

  .btn {
    @include box-sizing(border-box);
    width: 32%;
  }
}
