html, body, #map {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 16px;
}
.leaflet-popup-content-wrapper {
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.leaflet-container a.leaflet-popup-close-button {
  top: 5px;
  right: 5px;
  padding: 0;
  width: 14px;
  height: 14px;
}
h1 {
  font-size: 18px;
}
h3 {
  font-size: 16px;
  font-weight: normal;
}
h1 {
  text-align: center;
  background-color: #0078c5;
  color: white;
  padding: 1em;
  margin:0;
  cursor: pointer;
}
.expand, .contract {
  background-repeat: no-repeat;
  background-position: 93% 50%;
  background-size: 14px 14px;
}
.expand:hover, .contract:hover {
  background-color: #003b61;
}
.expand {
  background-image: url(images/expand.png);
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.contract {
  background-image:url(images/contract.png);
  -webkit-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}
.control-container {
  display: block;
  text-align: center;
  padding: 12px;
}
.no-padding {
  padding: 0;
}
input[type=checkbox]{
  font-size: 24px;
  margin-bottom: 10px;
}
.hide {
  display: none;
}
.btn {
  width: 75px;
  padding: .5em;
  margin: 0 5px 5px 5px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: #0078c5;
  border: none;
  font-size: 14px;
  color: white;
  cursor: pointer;
}
.btn:hover {
  background-color: #003b61;
}
.btn.light {
  background-color: #f1f1f1;
  color: #444;
}
.btn.light:hover {
  background-color: #919191;
}
.wide {
  width: 125px;
}
.select {
  padding: 4px;
  height: 35px;
  font-size: 16px;
  width: 95%;
  margin: 1em 0;
  border-color: gray;

}
.textarea {
  width: 200px;
  margin-bottom: 5px;
}
.input {
  width: 200px;
  margin-bottom: 7px;
}
.fs-props {
  list-style-type: none;
  list-style-position:inside;
  margin:0;
  padding:0;
  overflow: scroll;
  max-height: 400px;
}
.demo-controls {
  position: absolute;
  top: 10px;
  left: 50%;
  width: 300px;
  margin-left: -150px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: white;
  box-shadow: 0 3px 14px rgba(0,0,0,0.4);
}