.modal-overlay {
  display: none;
  background: $white;
  background: rgba(255, 255, 255, 0.8);
  overflow-y: scroll;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 50;

  &.visible {
    display: block;
  }
}

.modal {
  position: relative;
  margin: 50px auto;
  z-index: 100;
  background: $off-white;
  border: 1px solid $light-gray;
  // @include border-radius(3px);
  // @include box-sizing(border-box);
  // @include box-shadow(0 0 45px rgba(0,0,0,.1));
  padding: 2rem;
  width: 25rem;
  opacity: 1;

  &.vertically-centered {
    margin: 0 0 0 -190px;
    position: absolute;
    top: 50%;
    left: 50%;
  }

  &.visible {
    display: block;
  }

  @include respond-to($phone) {
    &.vertically-centered {
      margin: 0 0 0 -140px;
      width: 280px;
    }
  }
}