// Buttons
.btn {
  display: inline-block;
  padding: 1em;
  background-color: $green;
  color: $dark-gray;
  //border: none;
  // @include border-radius(3px);
  text-decoration: none;
  font-family: $lato;
  cursor: pointer;
  // @include user-select(none);
  // @include transition(background-color 75ms linear, color 75ms linear);
  &:hover, &:focus {
    background-color: lighten($green, 10%);
    color: $gray;
    outline: none;
  }
  &.outline {
    background: transparent;
    color: $green;
    border: 1px solid $green;
    &:hover {
      background-color: lighten($green, 10%);
      color: $white;
      border: 1px solid lighten($green, 10%);
    }
  }
  &.dark-green {
    background: $dark-green;
    color: $light-gray;
    &:hover {
      background-color: lighten($dark-green, 10%);
      color: $lighter-gray;
    }
  }
  &.white {
    background: $off-white;
    color: $dark-green;
    &:hover {
      background-color: $white;
      color: $green;
    }
  }
}