// Colors
$white:        #FFFFFF !default;
$off-white:    #FAFBFE !default;
$lightest-gray:#F3F5F8 !default;
$lighter-gray: #ECF0F3 !default;
$light-gray:   #DDE3E8 !default;
$gray:         #76899B !default;
$dark-gray:    #4C5156 !default;
$darker-gray:  #2C3136 !default;

$orange:       #FF6138 !default;
$yellow:       #FFFF9D !default;
$green:        #BEEB9F !default;
$dark-green:   #79BD8F !default;
$blue:         #00ADA7 !default;

// Grid Variables
$total-columns:     24 !default;
$container-width:   100% !default;
$container-max:     1280px !default;
$container-min:     0 !default;
$column-gutter:     1em !default;
$container-gutter:  1em !default;

// Breakpoints
$desktop:       1280px !default;
$laptop-large:  1180px !default;
$laptop:        1080px !default;
$tablet-wide:   1024px !default;
$tablet-mid:    960px  !default;
$tablet-tall:   768px  !default;
$phone-large:   662px  !default;
$phone:         480px  !default;
$phone-tall:    320px  !default;
