.container {
  max-width: $container-max;
  margin-right: auto;
  margin-left: auto;
  @include clearfix();
}

.site-nav {
  margin: 0 1em;
  &:first-of-type {
    margin-left: 0;
  }
  &:last-of-type {
    margin-right: 0;
  }
}