body {
  min-width: 768px;
}

.page-content {
  margin: 0 .75em;
}

.container {
  @include box-sizing(border-box);
  @include clearfix();
  max-width: $container-max;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  z-index: 3;
  padding: 2em 0;
  &.white {
    padding: 0;
    position: relative;
  }
  &.single {
    padding: 1px 1em;
  }
}

.site-nav,  {
  display: inline-block;
  margin: 0 1em;
  font-size: 1rem;
  color: $white;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.75);
  letter-spacing: 1px;
  font-weight: 700;
  &:hover {
    border-color: $white;
  }
  &:first-of-type {
    margin-left: 0;
  }
  &:last-of-type {
    margin-right: 0;
  }
}

.copyright {
  display: inline-block;
  font-size: 1rem;
  color: $white;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
  margin: 0;
  a {
    color: $white;
    &:hover {
      border-color: $white;
    }
    &:first-of-type {
      margin-left: 0;
    }
    &:last-of-type {
      margin-right: 0;
    }
  }
}

.background-map {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  .leaflet-map-pane {
    opacity: .35;
  }
  &.leaflet-container {
    background-color: rgba(157, 120, 210, 0.85);
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 300s;
    -webkit-animation-name: colorshift;
    -moz-animation-iteration-count: infinite;
    -moz-animation-duration: 300s;
    -moz-animation-name: colorshift;
    animation-iteration-count: infinite;
    animation-duration: 300s;
    animation-name: colorshift;
  }
}

.not-ie .background-map img {
  -webkit-filter: grayscale(50%);
  -moz-filter: grayscale(50%);
  filter: grayscale(50%);
}

@keyframes colorshift {
  0% {
    background-color: rgba(157, 120, 210, 0.85);
  }
  33% {
    background-color: rgba(36, 132, 210, 0.85)
  }
  66% {
    background-color: rgba(121, 189, 143, 0.85)
  }
}

@-webkit-keyframes colorshift {
  0% {
    background-color: rgba(157, 120, 210, 0.85);
  }
  33% {
    background-color: rgba(36, 132, 210, 0.85)
  }
  66% {
    background-color: rgba(121, 189, 143, 0.85)
  }
}

@-moz-keyframes colorshift {
  0% {
    background-color: rgba(157, 120, 210, 0.85);
  }
  33% {
    background-color: rgba(36, 132, 210, 0.85)
  }
  66% {
    background-color: rgba(121, 189, 143, 0.85)
  }
}