table {
  width: 100%;
  background-color: $white;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid mix($lighter-gray, $light-gray);
  text-align: left;
  margin: (1*$baseline) 0;
  font-size: .875rem;
  > thead {
    background-color: mix($off-white, $lighter-gray);
    border-bottom: 1px solid mix($lighter-gray, $light-gray);
  }
  thead {
    th, td {
      font-weight: 700;
    }
  }
  th, td {
    border-left: 1px solid mix($lighter-gray, $light-gray);
    border-right: 1px solid mix($lighter-gray, $light-gray);
    padding: 12px;
  }
  tr {
    border-bottom: 1px solid mix($lighter-gray, $light-gray);
    text-align: left;
    &:last-child {
      border-bottom: none;
    }
    &:nth-child(even){
        background-color: $off-white;
      td {
        background-color: $off-white;
      }
    }
  }
}