html, body, #map {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 14px;
}
.leaflet-popup-content-wrapper {
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.leaflet-container a.leaflet-popup-close-button {
  top: 5px;
  right: 5px;
  padding: 0;
  width: 14px;
  height: 14px;
}
h1 {
  font-size: 18px;
}
h3 {
  font-size: 16px;
  font-weight: normal;
}
.title {
  margin: 10px;
  padding: 2px 10px;
  width: 200px;
  font-size: 15px;
  text-align: center;
  background-color: #b0de5c;
}
.toggle {
  width: 12px;
  height: 12px;
  float: right;
  margin-top: 3px;
}
.open {
  background:url(images/contract.png) no-repeat right center;
  background-size: cover;
}
.close {
  background:url(images/expand.png) no-repeat right center;
  background-size: cover;
}
.control-container {
  display: block;
  text-align: center;
  margin: 10px 10px 5px 10px;
  max-width: 220px;
}
.hide {
  display: none;
}
.btn {
  width: 75px;
  margin: 0px 5px 5px 5px;
}
.wide {
  width: 125px;
}
.label {
  font-size: 12px;
  margin-bottom: 5px;
}
.select {
  width: 95%;
  margin-bottom: 7px;
}
.textarea {
  width: 200px;
  margin-bottom: 5px;
}
.input {
  width: 200px;
  margin-bottom: 7px;
}
.fs-props {
  list-style-type: none;
  list-style-position:inside;
  margin:0;
  padding:0;
  overflow: scroll;
  max-height: 400px;
}
