.leaflet-container .leaflet-control-attribution  {
  background-color: transparent;
  box-shadow: none;
  text-shadow:0 0 3px black;
  color: white;
  font-size: 12px;
  top: -5px;
  text-align: right;
}
.leaflet-container .leaflet-control-attribution a {
  background-color: transparent;
  box-shadow: none;
  text-shadow:0 0 3px black;
  color: white;
}
.esri-attribution-logo {
  position: relative;
  top: 5px;
  padding-left: 4px;
}

.esri-attributions {
  /* essential */
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display:inline-block;
  max-width: 50%;
}

.esri-leaflet-hidden {
  display: none !important;
}