.leaflet-container .leaflet-control-attribution  {
  background-color: transparent;
  box-shadow: none;
  text-shadow:0 0 3px black;
  color: white;
  font-size: 12px;
  top: -5px;
  max-width:100%;
}
.leaflet-container .leaflet-control-attribution a {
  background-color: transparent;
  box-shadow: none;
  text-shadow:0 0 3px black;
  color: white;
}
.esri-attribution-logo {
  position: relative;
  top: 5px;
  padding-left: 4px;
}

.esri-attributions {
  /* essential */
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display:inline-block;
  width: auto;
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (max-width : 1024px) {
  .esri-attributions {
    width: 450px;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (max-width : 768px) {
  .esri-attributions {
     width: 250px;
  }
}