---
class: plugins
---

<div class="container">
  <div class="card">
    <h3>Geocoder</h3>
    <p>
      Adds Geocoding functionality to Esri Leaflet. Includes a search box control as well as low level tools for making geocoding requests.
    </p>
    <iframe src="https://ghbtns.com/github-btn.html?user=esri&repo=esri-leaflet-geocoder&type=fork&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
    <br>
    <iframe src="https://ghbtns.com/github-btn.html?user=esri&repo=esri-leaflet-geocoder&type=star&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
  </div>

  <div class="card">
    <h3>Renderers</h3>
    <p>
      Ensure that symbology defined by ArcGIS Server and ArcGIS Online for  feature layers is inherited in Leaflet.
    </p>
    <iframe src="https://ghbtns.com/github-btn.html?user=esri&repo=esri-leaflet-renderers&type=fork&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
    <br>
    <iframe src="https://ghbtns.com/github-btn.html?user=esri&repo=esri-leaflet-renderers&type=star&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
  </div>

  <div class="card">
    <h3>Heatmap Feature Layer</h3>
    <p>
      Visualize feature layers with heatmaps via <a href="https://github.com/Leaflet/Leaflet.heat">Leaflet.heat</a>.
    </p>
    <iframe src="https://ghbtns.com/github-btn.html?user=esri&repo=esri-leaflet-heatmap-feature-layer&type=fork&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
    <br>
    <iframe src="https://ghbtns.com/github-btn.html?user=esri&repo=esri-leaflet-heatmap-feature-layer&type=star&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
  </div>

  <div class="card">
    <h3>Clustered Feature Layer</h3>
    <p>
      Visualize feature layers using clustering with the help of <a href="https://github.com/Leaflet/Leaflet.markercluster">Leaflet.markercluster</a> (coming soon for Leaflet 1.0.0).
    </p>
    <iframe src="https://ghbtns.com/github-btn.html?user=esri&repo=esri-leaflet-clustered-feature-layer&type=fork&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
    <br>
    <iframe src="https://ghbtns.com/github-btn.html?user=esri&repo=esri-leaflet-clustered-feature-layer&type=star&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
  </div>

  <div class="card">
    <h3>Geoprocessing</h3>
    <p>
      Plugin to assist in working with ArcGIS Geoprocessing Services.
    </p>
    <iframe src="https://ghbtns.com/github-btn.html?user=jgravois&repo=esri-leaflet-gp&type=fork&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
    <br>
    <iframe src="https://ghbtns.com/github-btn.html?user=jgravois&repo=esri-leaflet-gp&type=star&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
  </div>

  <div class="card">
    <h3>Related Records</h3>
    <p>
      Plugin to assist in querying ArcGIS Services for related records.
    </p>
    <iframe src="https://ghbtns.com/github-btn.html?user=jgravois&repo=esri-leaflet-related&type=fork&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
    <br>
    <iframe src="https://ghbtns.com/github-btn.html?user=jgravois&repo=esri-leaflet-related&type=star&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
  </div>
</div>