---
class: plugins
---

<div class="container">
  <div class="card">
    <h3>Esri Leaflet Geocoder</h3>
    <p>
      Add Geocoding functionality to Esri Leaflet. Includes a search box control as well as low level tools for making geocoding requests.
    </p>
    <iframe src="https://ghbtns.com/github-btn.html?user=esri&repo=esri-leaflet-geocoder&type=fork&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
    <br>
    <iframe src="https://ghbtns.com/github-btn.html?user=esri&repo=esri-leaflet-geocoder&type=star&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
  </div>

  <div class="card">
    <h3>Heat Map Feature Layer</h3>
    <p>
      Visualize feature layers with heatmaps via <a href="https://github.com/Leaflet/Leaflet.heat">Leaflet.heat</a>.
    </p>
    <iframe src="https://ghbtns.com/github-btn.html?user=esri&repo=esri-leaflet-heatmap-feature-layer&type=fork&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
    <br>
    <iframe src="https://ghbtns.com/github-btn.html?user=esri&repo=esri-leaflet-heatmap-feature-layer&type=star&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
  </div>
</div>
