<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>Esri Leaflet</title>
  <meta name="description" content="Esri Leaflet">
  <meta name="viewport" content="width=device-width">
  <!-- google fonts -->
  <link href='http://fonts.googleapis.com/css?family=Source+Code+Pro:200,300,400|Oswald:400,300,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{assets}}css/style.css">
</head>
<body>
  <div class="container">
    <h1>Esri Leaflet</h1>
    <nav>
      <a href="{{assets}}examples/">Examples</a>
      <a href="{{assets}}documentation/">Documentation</a>
      <a href="https://github.com/Esri/esri-leaflet">View on GitHub</a>
    </nav>
  </div>
