<aside class="sidebar">

  <h4>API Reference</h4>
  <nav>
    <a href="#events">Events</a>
    <a href="#request">Request</a>
    <a href="#utils">Utils</a>
  </nav>
  <h4>Layers</h4>
  <nav>
    <a href="#basemaplayer">BasemapLayer</a>
    <a href="#clusteredfeaturelayer">ClusteredFeatureLayer</a>
    <a href="#dynamicmaplayer">DynamicMapLayer</a>
    <a href="#featurelayer">FeatureLayer</a>
    <a href="#heatmapfeaturelayer">HeatmapFeatureLayer</a>
    <a href="#tiledmaplayer">TiledMapLayer</a>
  </nav>
  <h4>Services</h4>
  <nav>
    <a href="#featurelayer">FeatureLayer</a>
    <a href="#mapservice">MapService</a>
    <a href="#service">Service</a>
  </nav>
  <h4>Tasks</h4>
  <nav>
    <a href="#identify">Identify</a>
    <a href="#query">Query</a>
  </nav>
</aside>