<aside class="sidebar">
  <h5>General</h5>
  <nav>
    <a href="introduction-to-layer-types.html">Introduction to Layer Types</a>
    <a href="discovering-content.html">Discovering Content</a>
    <a href="working-with-authenticated-services.html">Working with Authenticated Services</a>
  </nav>

  <h5>Migration Guides</h5>
  <nav>
    <a href="migrating-1-to-2.html">1.0.0 to 2.0.0</a>
    <a href="migrating-release-candidates-to-1.html">Release Candidates to 1.0.0</a>
  </nav>

  <h5>Module Systems</h5>
  <nav>
    <a href="using-with-browserify.html">Browserify</a>
    <a href="using-with-webpack.html">WebPack</a>
    <a href="using-with-jspm.html">JSPM</a>
    <a href="using-with-requirejs.html">RequireJS</a>
  </nav>
</aside>
