<aside class="sidebar">
  <h5>General</h5>
  <nav>
    <a href="#">Introduction to Layer Types</a>
    <a href="#">Finding Content</a>
    <a href="working-with-authenticated-services.html">Working with Authenticated Services</a>
  </nav>

  <h5>Migration Guides</h5>
  <nav>
    <a href="#">1.0.0 to 2.0.0</a>
    <a href="#">Release Candidates to 1.0.0</a>
  </nav>

  <h5>Module Systems</h5>
  <nav>
    <a href="#">Browserify</a>
    <a href="#">WebPack</a>
    <a href="#">JSPM</a>
    <a href="#">RequireJS</a>
  </nav>
</aside>
